.portfolio {
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    text-align: center;
}

.image__portfolio {
    box-sizing: border-box;
    border: 5px solid;
    animation: alternateColors 3s infinite;
    border-radius: 15px;
}

.title__portfolio {
    margin: 1em;
    font-weight: bold;
}

.description__portfolio {
    color: var(--cor-fontes-secundarias);
}